.header {
  top: 0;
  z-index: 1000;
  overflow: hidden;
  background-color: #01C5C4;
  padding: 1.25rem 0.625rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: black;
  padding:15px;
  font-size: 2.5rem; 
  text-decoration: none;
  font-size: 1.125rem; 
  line-height: 1.5625rem;
  border-radius: 0.25rem;
  transition-duration:s;
}
.header a.logo {
  font-size: 1.5625rem;
  font-weight: bold;
  float: right;
  border-radius: 0.75rem;
  animation-name:abcd;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.header a:hover {
  background-color: #ddd;
  color: black ;
  padding: 1.375rem 0.75rem;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: left;
}



@media screen and (max-width: 31.25rem) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.hello{
  margin:5px;
  display: flex;
  justify-content: space-around;
}

.hello:hover{
  background-color:#142850;
  color: white;
  border-radius: 18%;
}

.hello .abraham{
  font-size: 30px;
  margin-right: 30%;
  margin-top: 10%;
}


body {
  margin: 0;
}
.mycontainer {
  margin: 0.625rem;
  display: grid;
  grid-template-columns: 30% 70%;
  width: auto;
  background-color: #B8DE6F;
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}
.mycontainer > .left {
  float: left;
  text-align: center;
  padding-top: 1.25rem;
}
.mycontainer > .left > img {
  height: 9.375rem;
  width: 9.375rem;
  background-color:lightblue;
  border-radius: 50%;
  animation-name: abcd;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
}
.mycontainer > .right {
  padding-left: 0.625rem;
}
@media screen and (max-width: 34.375rem) {
  .mycontainer > .left > img {
    height: 6.25rem;
    width: 6.25rem;
  }
  .mycontainer > .right {
    padding-left: 1.25rem;
  }
}

@keyframes abcd {
  0%  {
    border: 0.3125rem solid #123456;
  }
  20%{
    border: 0.3125rem solid green;
  }
  40% {
    border: 0.3125rem solid yellow;
  }
60% {
    border: 0.3125rem solid blue;
  }
  80%{
    border: 0.3125rem solid tomato;
  }
  100%  {
    border: 0.3125rem solid gray;
  }
}
.myimg{
  border-radius: 50%;
  max-width:20%;
  height: auto;
  width:auto;
}

.myself{
  background-color: #E4BAD4;
  border-radius: 15px;
}

.myself h3{
  margin-top: 0;
  background-color: #F1E189;
  text-align: center;
  font-family: Arial, Helvetica;
  font-size: 25px;
  padding: 20px;
}
.myself p{
  font-family: Verdana, Tahoma, sans-serif;
  font-size:15px;
  color: #17021a;
  margin: 20px;
  margin-bottom: 10px;
}

.myself p:hover{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  background-color:#142850;
  color: white;
}


.mymemo {text-align: center;}


.slide{
  background-color: #F1E189;
  text-align: center;
  font-family: Arial, Helvetica;
  font-size: 25px;
  padding: 20px;
}
.aimg{
  width: 30%;
  margin-left: 40%;
}

.containeer {
  width:96%;
  margin-left: 2%;
  position: relative;
  
}
.center:hover{
  background-color:rgba(9, 48, 121, 0.938);
  border-radius: 10px;
}
.center {
  display: block;
  width: 30%;
  margin-left: 40%;
}

.row {
  display: flex;
  justify-content: center;
}
.row .column{
  width: 200px;
  height: 200px;
  margin: 5px;
}

.row .column img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
img {
  vertical-align: middle;
}


.cursor {
  cursor: pointer;
}

.prev,
.next {
  background-color: rgba(17, 129, 83, 0.486);
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1rem;
  margin-top: -3.125rem;
  color: rgb(12, 117, 12);
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(223, 214, 226, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #125D98;
  padding: 0.125rem 1rem;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.activee,
.demo:hover {
  opacity: 1;
}

/* slide show slide  */

.detail{
  background-color: #F1E189;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica;
  font-size: 25px;
  padding: 20px;
}


.mycon{
  margin:5px;
  background-color:rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19); 
}
.mycon:hover{
  margin:5px;
  background-color:#142850 ;
  color:whitesmoke; 
}

.mycon .a {
  display: flex;
  justify-content: center;
}

.mycon .a img{
  width: 70%;
  border-radius: 5px;
}
.mycon .b {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(37, 6, 173);
  color: white;
  text-align: center;
}

/* about css */
.bod{
  background-color:#8fc7b97a;
}
.card {
  width:40%;
  margin-left: 30%;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(14, 218, 116, 0.2);
  text-align: center;
  font-family: arial;
}

.card:hover {
  background-color:rgb(0, 72, 155);
  color: white;
}

.card img{
  width:70%;
  border-radius: 10px;
  
}


.webdev{
  width:80%;
  margin-left:10%;
  margin-top:5%;
}

.webdev h2{
  background-color: #F1E189;
  color: rgba(0, 23, 128, 0.705);
  text-align: center;
  font-family: Arial, Helvetica;
  font-size: 25px;
  padding: 20px;
}

.webdev .dev{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap; 
}


.flip-card {
  margin-bottom:10px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 62.5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  
}
.list{
  width: 30%;
  overflow: hidden;
 
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}




/* contact css*/

.cont{
  width: 80%;
  margin: 10px;
}
.fb, .tw, .em,.li, .tg {
  color:#fff;
  padding:20px 30px;
  border:1px solid white;
  border-radius: 10px;
}
.fb:hover, .tg:hover, .tw:hover, .em:hover, .li:hover {
  border: 3px solid black;
  border-radius: 20px
}
.fb {
  background-color: #00f;
}
.tw {
  background-color: rgb(32, 117, 214);
}
.em {
  background-color: rgb(255, 0, 21);
}
.li {
  background-color: rgb(21, 76, 128);
}
.tg {
  background-color: rgb(20, 114, 117);
}
.cont .links{
  margin-left: 10%;
  display:flex;
  justify-content: space-between;
}


.contact {
  border-radius: 5px;
  background-color: #2c663da9;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}


input[type=text], select, textarea {                      
  width: 90%;
  padding: 12px;
  border: 1px solid rgba(13, 175, 27, 0.74);
  border-radius: 4px;
  resize: vertical;
}

input[type=email], select, textarea {                      
  width: 45%;
  padding: 12px;
  border: 1px solid rgba(13, 175, 27, 0.74);
  border-radius: 4px;
  /* resize: vertical; */
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}



.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/* skill style ccc */

.mydiv{
  background-color: #1114ca5d;
  width: 95%;
  height: 18.75rem;
  border-radius: 0.625rem;
  box-shadow: 0.5625rem 0.5625rem 0.125rem 0.0625rem rgba(6, 12, 20, 0.2);
}
.mydiv h2{
  color: white;
  text-align: center;
  padding-top: 0.1875rem;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: initial; 
  margin-left: 1.0625rem;
}

.mydiv .rit{
  width: 40%;
  float: left;
}

.mydiv .lef{
  width: 60%;
  float: left;
}

.mydiv .lef img{
  width: 60%;
  height: 15rem;
}

.mydiv .lef img:hover{
  width: 50rem;
  height: 25rem;
  box-shadow: 0.625rem 0.625rem 2.5rem 1.25rem whitesmoke;
}
 
 
 